@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body {
    font-family: 'Oswald', sans-serif;
}

.header-title {
    margin: auto;
    width: 80%;
    padding: 10px;
    padding-left: 30px;
    border-bottom: 1px solid;
}

.header-title h1, .header-title h3 {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

section.main {
    margin: auto;
    width: 80%;
    font-size: larger;
}

section.menu-top {
    display: none;
}

section.menu-top li {
    display: inline-block;
    padding: 3px 10px;
    margin: 3px;
    border: 1px solid;
}

section.menu-left {
    display: table-cell;
    padding-right: 15px;
    border-right: 1px solid;
}

section.menu-left ul {
    padding: 0px;
}

section.menu-left li {
    list-style: none;
    padding: 10px;
    padding-left: 40px;
    padding-right: 90px;
}

section.menu-left li:hover {
    background: whitesmoke;
    border-radius: 10px 10px 10px 50px;
    cursor: pointer;
    transition: 300ms;
}

section.content {
    display: table-cell;
    padding-left: 10px;
    max-width: 60vw;
}

section.content img{
    max-width: 65vw;
}

section.content li {
    margin-bottom: 12px
}

pre {
    background-color: #f6f6f6;
    white-space: pre-wrap;
    overflow-x: scroll;
    width: 65vw;
    padding-left: -5px;
}

footer {
    position: fixed;
    left: 90%;
    bottom: 0;
    border-top: 1px solid;
    margin-bottom: 10px;
    background: white;
}

footer a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 600px) {
    section.main {
	width: 95%;
    }
    section.content {
	max-width: none;
    }
    section.menu-left {
        display: none;
    }
    section.menu-top {
        display: inline;
        border-bottom: 1px solid;
    }
    section.menu-top ul {
        padding: 0px;
    }
}
